@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    width: 100%;
    height: 100%;
    font-size: 20px;
  }
  main {
    margin-right: 18px;
  }
  h2 {
    font-size: x-large;
  }
  header {
    margin-top: 4px;
  }
  /*navigateur*/

  .header_img {
    height: 90px;
  }
  .li_effect:active {
    color: #0065fc;
    border-top: 4px solid;
    margin-bottom: -2px;
    margin-top: -4px;
  }
  /*phrase d'introduction*/
  .phrase_intro {
    font-size: 16px;
  }
  /*icône barre de recherche*/
  .je-location {
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 12.9px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    left: 5px;
    top: 0.5px;
  }
  .name-form {
    font-weight: bold;
  }
  .search_phone {
    display: none;
  }
  /*les filtres*/
  .category {
    margin-top: 60px;
    line-height: 10%;
  }
  .liste_filtre {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filtre_eco,
  .fitre_romantique {
    width: 205px;
    padding-top: 23px;
  }
  .filtre_famille {
    width: 165px;
    padding-top: 23px;
  }
  .filtre_animaux {
    width: 270px;
    padding-top: 23px;
  }
  .effet_filtre:active {
    color: lightskyblue;
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.2s;
  }

  /*ligne d'informations*/
  .je-info {
    padding-left: 11px;
    padding-right: 11px;
  }
  .info {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 992px) {
  /**version desktop à partir de 992px**/
  .page {
    max-width: 1440px;
    margin: auto;
  }
  h2 {
    font-size: x-large;
  }
  h3 {
    font-size: 23px;
  }

  /*effet de survol du navigateur*/
  .li_effect:hover {
    color: #0065fc;
    border-top: 3px solid;
  }

  /*phrase d'introduction*/
  .phrase_intro {
    font-size: 16px;
  }
  /*icone barre de recherche*/
  .je-location {
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 12.5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    left: 5px;
    top: 0.4px;
  }
  /*disposition partie filtres*/
  .category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .liste_filtre {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 25px;
    margin-top: -8px;
  }
  .effet_filtre:hover {
    color: lightskyblue;
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.2s;
  }

  /*icone loupe désactivée*/
  .search_phone {
    display: none;
  }
  /*gestion ligne d'information*/
  #info {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
