/*header*/
html 
{
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

* 
{
  box-sizing: border-box;
} 
header
{
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
}

body 
{
  font-family: 'Raleway', Arial, 'Arial Black', Impact, 'Times New Roman', sans-serif;
  font-size: 14.5px;
  margin: 0px;
  padding: 0px;
}

main {
  margin: 0px 10px 0px 40px;
}

#header_nav
{
    list-style-type: none;	
	display: flex;
    margin: 0px;
	font-size: 15px;
    padding: 0px;
}

#li_nav
{
	font-size: 15px;
    padding-top: 60px;
    box-sizing: border-box solid;

}

#barre_recherche
{
 	display: flex;
 	justify-content: flex-start;
 	color: #F2F2F2;
}

#li_effect
{

	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;

    display: block;
	text-align: center;
	border-bottom: 5px solid #F2F2F2;
}


#liste_filtre
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

#effet_filtre
{
	box-sizing: border-box;

	display: flex;
	flex-direction: row;

	  color: lightskyblue;
      cursor: pointer;
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1); 
      transform: scale(1.1);
      transition: 0.2s;
}

.filtre_eco 
{
  font-size: 20px;
  font-weight: bold;

  border: 3px solid #F2F2F2;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 3px;

  border-left: none;
  border-radius: 50px 50px 50px 50px;

  width: 205px;
  margin-right: 20px;

  padding-top: 12px;
  padding-left: 65px;

  position: relative;

  z-index: 0;
}

.filtre_famille 
{
  font-size: 20px;
  font-weight: bold;

  border: 3px solid #F2F2F2;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 3px;

  border-left: none;
  border-radius: 50px 50px 50px 50px;

  width: 205px;
  margin-right: 20px;

  padding-top: 12px;
  padding-left: 65px;

  position: relative;

  z-index: 0;
}

.fitre_romantique
{
  font-size: 20px;
  font-weight: bold;

  border: 3px solid #F2F2F2;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 3px;
  
  border-left: none;
  border-radius: 50px 50px 50px 50px;

  width: 205px;
  margin-right: 20px;

  padding-top: 12px;
  padding-left: 65px;

  position: relative;

  z-index: 0;
}

.filtre_animaux
{
  font-size: 20px;
  font-weight: bold;

  border: 3px solid #F2F2F2;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 3px;

  border-left: none;
  border-radius: 50px 50px 50px 50px;

  width: 205px;
  margin-right: 20px;

  padding-top: 12px;
  padding-left: 65px;

  position: relative;

  z-index: 0;
}
button
{
  padding: 8px;
  background-color: #F2F2F2;
  color: white;
  border: 0px solid #F2F2F2;
  border-radius: 0px 10px 10px 0px
}

h1
{
    font-size: 2em;
    margin: 0.67em 0;
}

h2 
{
  font-size: 20px;
  font-weight: bold;
} 

img 
{
    border-style: none;
}

button,input,optgroup,select,textarea 
{
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
 #info 
{
      width: 100%;
      font-size: 20px;

      margin-bottom: 30px;
      margin-top: 30px;
}

.fa-info 
{
      padding-left: 15px;
      padding-right: 15px;

      float: left;

      clear: both;

      position: relative;

      bottom: 10px;	
}

footer
{
  	display:flex;
  	flex-direction: row;
  	justify-content: space-around;

  	background-color: lightgrey;

    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
}

#foot_column 
{
  width: 30.5%;
  margin-right: 4px;
  width: 100%;
}

#foot_li 
{
  display: flex;
  flex-direction: column;

  font-size: small;

  list-style-type: none;
  padding-left: 0px;
}

#foot_padding_li
{
padding-bottom: 14px;
}

 #a
 {
  background-color: transparent;
  text-decoration: none;
  color: blue;
 }

